<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : "<%= FB_APP_ID -%>", // App ID
      channelUrl : '//<%= "#{request.host}:#{request.port}" -%>/fb_channel', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true,  // parse XFBML
      frictionlessRequests: true //dialog request
    });
  };

  // Load the SDK Asynchronously
  (function(d){
    var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    ref.parentNode.insertBefore(js, ref);
  }(document));

  function publishToFeed(link, image_url, title, name) {
    var title_msg = title;
    if (title==undefined || title == null){
      title_msg = 'Shared from Sitebootstrapper!';
    }
    var obj = {
      method: 'feed',
      link: link,
      picture: image_url,
      name: title_msg,
      caption: link,
      description: name
    };
    function callback(response) {
      // alert('It worked');
    }
    FB.ui(obj, callback);
  }
</script>