/
  %p ¿No quieres participar aún? Entonces pasa la voz:
  = render 'shared/social_buttons'

.footer.container

  .row
    .col-lg-12
      %p
        © 2014 -
        = link_to "Historia de la colaboración", "/info", target: "_blank"