= render 'shared/header'

.container
  = render 'calendar'
  %br/
  %br/
  
-if false
  .row.marketing
    .col-lg-6
      %h4 Eventos
      = render 'events'
    
= render 'shared/footer' 
    






