.container.admin
  = render 'shared/navigation_admin'
  .row 
    .col-lg-10
      .chart
        %h3.module_header
          Hospitales
          %span.count
            #{@hospitals.count}
    .col-lg-2
      %a.my_button{href: new_admin_hospital_path, style: 'margin-top: 30px;'}
        Nuevo Hospital

    .col-lg-12
      .well
        .row 
          = render 'hospitals'
