.container
  .row
    %h1 bienvenido
    #campaign_image
  .row
    = form_tag("/landing_page", method: "post") do
      .row
        .col-lg-12
          .form-group
            = text_field :email, class: "form-control", type: "text", id: "email", style: "width: 90%; height: 32px; padding: 5px;"
          %br/
          .form-group
            %button.btn.btn-primary{:type => 'submit'}
              Registrarse
