/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui-1.10.2.custom
 *= require_tree ./bootstrap3
 *= require_tree ./theme_base
*/

/* para esconder los cambios de vista del calendario que se ven mal */
.fc-header-right > * {display: none;}
/*.calendar .fc-border-separate tr td .fc-day-content { padding: 0px !important;} */
.calendar .fc-content .fc-event-container a { padding: 3px; border-top: 1px solid #B3B3B3; color: #242424; }
.calendar .fc-content .fc-event-container a.blue {background-color: #FBFDCD;}
.calendar .fc-content .fc-event-container a.green {background-color: #E4FBFF; }
.calendar .fc-content .fc-event-container a.red {background-color: #F8E8E8; }
.calendar .fc-content .fc-event-container a.yellow {background-color: #FFF9F9;}
.calendar .fc-content .fc-event-container a.emprendimiento {background-color: #2EF65C;}
.calendar .fc-content .fc-event-container a.deporte {background-color: #2EF6ED;}
.calendar .fc-content .fc-event-container a.eventos {background-color: #ACFE93;}
.calendar .fc-content .fc-event-container a.Colecta {background-color: #C8FDC8; }
.calendar .fc-content .fc-event-container a.Inducción {background-color: #E7CDFF; }

#main-image {
  max-height: 500px;
  overflow: hidden;
}

.campaign-info {
  background-color: grey;
  height: 200px;
  border: 1px solid white;
}

#email-registration h1 {
  margin-top: 40px;
}

#email-landing {
  margin-top: 40px !important;
  padding: 10px !important;
  width: 30% !important;
  margin: 0 auto;
}

.form-group label {
  display: block;
}

#personal-data .form-group {
  margin-bottom: 20px;
  width: 100%;
}

#personal-data .form-group input, #personal-data .form-group select {
  width: 100%
}

#datepicker-personal-data {
  width: 50%;
}

#datepicker-personal-data input {
  width: 90% !important;
  margin-right: 5px;
}

#motivacion-personal-data {
  width: 100%;
}

#motivacion-personal-data textarea {
  width: 100%;
}

#button-personal-data {
  float: right;
}

#friends_personal_data {
    width: 80%;
    margin: 40px auto 10px auto;
}

#add_friend_button .col-lg-3, #finish_add_friend_button .col-lg-3 {
  float: none;
  margin: 0 auto;
}

#add_friend_button .col-lg-3 button, #finish_add_friend_button .col-lg-3 button {
  width: 80%;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#friends_list_table {
  width: 70%;
  float: none;
  margin: 20px auto;
}

#friends_list_table td {
  text-align: left;
}
