<p>Hola <%= @resource.email %>!</p>

<p>Alguien pidio un enlace para cambiar su password, y lo puede hacer a través del enlace de abajo.</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no pidio este cambio, por favor ignore este correo electrónico.</p>
<p>El password no cambiará hasta que acceda al enlace en la parte superior y cree un nuevo password.</p>
